#AppBar {
background-color: rgba(0, 0, 0, 0.875);
}

#about-container
{
  background-color: rgba(215, 113, 113, 0.875);
}

.MuiSlider-root {
  color: #20b2aa;
}

.MuiSlider-root:hover {
  color: #2e8b57;
}
