body::-webkit-scrollbar { 
  display: none; 
}

body {
  /* background: rgb(255,255,255); */
  /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(114,119,142,1) 100%); */
  /* background-image: url(https://static.vecteezy.com/system/resources/previews/008/311/935/non_2x/the-illustration-graphic-consists-of-abstract-background-with-a-blue-gradient-dynamic-shapes-composition-eps10-perfect-for-presentation-background-website-landing-page-wallpaper-vector.jpg); */
}

@media only screen and (max-width: 899px) {
  #home-buttons {
      display: none;
  } 
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#arrow-icon {
  cursor: pointer;
}

#AppBar {
/* background-color: rgba(0, 0, 0); */
position: fixed;
z-index: 10;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 20px; */
}


#home-container
{
  /* background-color: rgba(215, 113, 113, 0.875); */
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  /* background-image: url(https://static.vecteezy.com/system/resources/previews/012/079/480/non_2x/technology-background-modern-abstract-luxury-geometric-shape-premium-wallpaper-for-template-backdrop-brochure-poster-website-or-banner-vector.jpg); */
}


#home-buttons
{
  /* right: 34%; */
  position: relative;
  z-index: 9;
}

#AboutCard
{
  /* opacity: 1; */
  background-color: "transparent";
  border: "none";
  /* background: rgb(155,152,204); */
  /* background-color: rgba(215, 113, 113, 1); */
}


#skills-container
{
  /* background-color: rgba(139, 215, 113, 0.875); */
  /* height: 50vh; */
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#skill-card
{ 
  margin: 1%;
}


#header-container
{
  /* background-color: rgba(0, 0, 0, 0.875); */
  /* color: white; */
  font-Family: "monospace";
  text-align: center;
  font-size: 60px;
  padding: 0.7%;
  margin-bottom: 0.5%;
  margin-top: 2%;
  /* border-top: 1px; */
  /* border-top-style: solid; */
  /* border-color: black; */

  
}

#projects-container
{
  /* background-color: rgba(113, 215, 195, 0.875); */
  /* height: 100vh; */
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding: 1%; */
}

#project-card
{ 
  margin: 1%;
  width: 100vh;
}

#contact-container
{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1%;
}

#connect-card
{
  /* text-align: center; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
}
